hw4 git/day7/Library/AnnotationManager
hw4 git/day7/Library/AssetImportState
hw4 git/day7/Library/AssetServerCacheV3
hw4 git/day7/Library/AssetVersioning.db
hw4 git/day7/Library/BuildPlayer.prefs
hw4 git/day7/Library/BuildSettings.asset
hw4 git/day7/Library/EditorUserBuildSettings.asset
hw4 git/day7/Library/EditorUserSettings.asset
hw4 git/day7/Library/FailedAssetImports.txt
hw4 git/day7/Library/InspectorExpandedItems.asset
hw4 git/day7/Library/MonoManager.asset
hw4 git/day7/Library/ProjectSettings.asset
hw4 git/day7/Temp/UnityTempFile-6c881a1be0dde4a8f850741d8785f1e8
hw4 git/day7/Temp/UnityTempFile-9e8817d06ea6a4b02a07cfb25b4f0ab2
hw4 git/day7/Temp/__BuildPlayer Backupscene
hw4 git/day7/Temp/compressedData
hw4 git/day7/Temp/uncompressedData
